<h1><%= t ".name" %></h1>
<p>
  <%= t ".hi" %>
  <%= @user.name %>,
</p>
<p><%= t ".info" %></p>

<%= link_to t(".reset"), edit_password_reset_url(locale: I18n.locale, id: @user.reset_token, email: @user.email) %>

<p><%= t ".info_2" %></p>
<p><%= t ".info_3" %></p>
